<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('parts/head')%>
    <meta charset="UTF-8">
    <title>Erreur 404</title>
    <style>
        h1 {
            font-size: 3em;
            text-align: center;
        }

        h2 {
            text-align: center;
        }

        p {
            text-align: center;
            font-size: 1em;
        }
    </style>
</head>

<body class="bg-brilliantAzure">
<div class="container-fluid p-0">
    <div class="d-flex align-items-center justify-content-center" style="height: 100vh; width: 100vw;">
        <article class="bg-white rounded container m-auto p-4">

            <div class="pb-3">
                <img src="images/Logo.webp" height="64" width="64" class="m-auto d-block rounded-circle" alt="logo" style="pointer-events: none">
            </div>
            <hr class="pb-4">s

            <h1 class="card-title text-center mb-4 mt-1">ERREUR 404</h1>
            <h2>Page non trouvé</h2>
            <p>
                <br><br>
                <a href="/">Retour sur loicyeu.fr</a>
            </p>
        </article>
    </div>
</div>
</body>

</html>