<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('parts/head');%>

    <title>Message | loicyeu.fr</title>
</head>
<body class="bg-brilliantAzure">

<!--NAVBAR-->
<nav class="navbar navbar-expand-sm bg-darkgrey2 navbar-dark sticky-top">
    <a class="navbar-brand font-weight-bold" href="/">
        <img src="images/Logo.webp" alt="logo" width="32" height="32" class="rounded-circle">
        Loicyeu.fr
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    Messagerie
                    <span class="badge badge-primary">+7</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://news.loicyeu.fr">
                    News
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown">
                    Profil
                </a>
                <div class="dropdown-menu bg-darkgrey1">
                    <a class="dropdown-item text-white font-weight-light" href="profil">
                        <i class="far fa-user-circle"></i>
                        Mes informations
                    </a>
                    <a class="dropdown-item text-white font-weight-light" href="profil#v-pills-settings-tab">
                        <i class="fas fa-cog"></i>
                        Préférences
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-white font-weight-light" href="disconnect">
                        <i class="fas fa-sign-out-alt"></i>
                        Déconnexion
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!--CONTENT-->
<div class="container-fluid bg-duplain my-4">
    <div class="row">
        <div class="col-sm-2 bg-azraqBlue">
            <h3 class="text-light mt-2">Contacts</h3>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link text-light " href="#">
                        <img class="rounded-circle border align-middle" src="images/user.webp" alt="user pic" width="25"
                             height="25">
                        Contact n°1
                        <span class="badge badge-danger">5</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">
                        <img class="rounded-circle border align-middle" src="images/user.webp" alt="user pic" width="25"
                             height="25">
                        Contact n°2
                        <span class="badge badge-danger">2</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">
                        <img class="rounded-circle border align-middle" src="images/user.webp" alt="user pic" width="25"
                             height="25">
                        Contact n°3
                    </a>
                </li>
            </ul>
            <hr class="d-sm-none">
        </div>
        <div class="col-sm-10 bg-azraqBlue rounded-lg">
            <h3 class="mt-2">Contact n°1</h3>
            <div class="bg-light rounded" style="height: 70vh;">
                <div class="text-left m-1">
                    <p class="d-inline-block bg-flatFlesh rounded p-1">Hello</p>
                </div>
                <div class="text-right m-1">
                    <p class="d-inline-block bg-icelandPoppy rounded p-1">Hello</p>
                </div>
                <div class="text-left m-1">
                    <p class="d-inline-block bg-flatFlesh rounded p-1">How are you today ?</p>
                </div>
                <div class="text-left m-1">
                    <p class="d-inline-block bg-flatFlesh rounded p-1">Because it's rainy today</p>
                </div>
                <div class="text-right m-1">
                    <p class="d-inline-block bg-icelandPoppy rounded p-1">Good, and you ?</p>
                </div>
            </div>
            <input type="text" class="form-control my-2" placeholder="Envoyer un message...">
        </div>
    </div>
</div>

<!--FOOTER-->
<footer class="pt-4 text-white bg-darkgrey1">
    <div class="container first-bar">
        <div class="row">
            <div class="col-sm-3">
                <h5>Commencer</h5>
                <ul>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Se connecter</a></li>
                    <li><a href="#">Créer un compte</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>A propos</h5>
                <ul>
                    <li><a href="#">Company Information</a></li>
                    <li><a href="#">Me contacter</a></li>
                    <li><a href="#">Commentaires</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Support</h5>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Conditions Générales d'Utilisation</a></li>
                </ul>
            </div>
            <div class="col-sm-3 info">
                <h5>Information</h5>
                <p> Loicyeu.fr est un projet qui n'a aucun but lucratif. L'accès est gratuit et libre sous réserve de
                    respecter les lois et juridictions en vigueur dans votre pays.</p>
            </div>
        </div>
    </div>
    <div class="second-bar bg-darkgrey2">
        <div class="container">
            <h2 class="logo py-4">
                <a href="#" class="align-text-top">
                    <img src="images/Logo.webp" width="32" height="32" alt="logo" class="rounded-circle align-bottom">
                    Loicyeu.fr
                </a>
                <div class="social-icons">
                    <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="google"><i class="fab fa-google-plus-g"></i></a>
                </div>
            </h2>
        </div>
    </div>
</footer>

</body>


</html>