/*  __    __    __    __    __    __    __    __    __    __
   / /   / /   / /   / /   / /   / /   / /   / /   / /   / /
  / /   / /   / /   / /   / /   / /   / /   / /   / /   / / 
 / /   / /   / /   / /   / /   / /   / /   / /   / /   / /  
/_/   /_/   /_/   /_/   /_/   /_/   /_/   /_/   /_/   /*/  
/*              --STYLES GLOBAUX DU SIDENAV--         */
div#sidenav{
    background-color: #7A7D7D;
    height: 100%;
    width: 15%;
    position: fixed;
    font-family: "Ubuntu", calibri, sans-serif;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/*  __    __    __    __    __    __    __    __    __    __
   / /   / /   / /   / /   / /   / /   / /   / /   / /   / /
  / /   / /   / /   / /   / /   / /   / /   / /   / /   / / 
 / /   / /   / /   / /   / /   / /   / /   / /   / /   / /  
/_/   /_/   /_/   /_/   /_/   /_/   /_/   /_/   /_/   /*/   
/*              --STYLES GLOBAUX DU MAIN--         */       
html{
    height: 100vh;
}

div#main{
    background-color: #EEF0F2;
    margin-left: 15%;
    height: 100%;
}